body {
    background: #f8fafc;
    font-family: "Segoe UI", sans-serif;
}
/* SIDEBAR */

.sidebar {
    width: 270px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(180deg, #0f3c68, #1769aa);
    color: white;
    box-shadow: 5px 0 20px rgba(0,0,0,.15);
}
/* LOGO */
.logo {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .logo img {
        width: 150px;
        background: white;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,.25);
        transition: .3s;
    }
        .logo img:hover {
            transform: scale(1.05);
        }

/* MENU */
.sidebar ul {
    list-style: none;
    padding: 15px;
}
    .sidebar ul li {
        margin-bottom: 12px;
    }
.sidebar a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 18px;
    color: #f1f5f9;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
    transition: .3s;
}
    .sidebar a i {
        font-size: 22px;
    }
    /* hover */
    .sidebar a:hover {
        background: #38bdf8;
        color: #075985;
        transform: translateX(8px);
    }
/* MAIN */

.main {
    margin-left: 270px;
}
/* TOPBAR */
.topbar {
    height: 75px;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 35px;
    box-shadow: 0 3px 15px rgba(0,0,0,.08);
}
    .topbar h3 {
        color: #075985;
        font-weight: 800;
    }
/* CONTENT */
.content {
    padding: 35px;
}

/* DASHBOARD CARD */
.card-box {
    border: none;
    border-radius: 25px;
    color: white;
    padding: 35px;
    box-shadow: 0 10px 25px rgba(0,0,0,.12);
    transition: .3s;
}
    .card-box:hover {
        transform: translateY(-5px);
    }
/* COLOR CARD */
.blue {
    background: linear-gradient( 135deg, #2563eb, #38bdf8 );
}
.green {
    background: linear-gradient( 135deg, #16a34a, #4ade80 );
}
.orange {
    background: linear-gradient( 135deg, #f97316, #facc15 );
}
.red {
    background: linear-gradient( 135deg, #dc2626, #fb7185 );
}

/* TABLE */

.table {
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

/* LOGOUT */

.logout-btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 18px;
    color: #f1f5f9;
    font-size: 17px;
    background: none;
    border: none;
    border-radius: 15px;
    transition: .3s;
}
    .logout-btn:hover {
        background: #ef4444;
        color: white;
        transform: translateX(8px);
    }

/*Edit and delete icons*/

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-sm {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

    .btn-sm i {
        font-size: 18px;
    }

/*Order list button*/

.order-action {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn-sm {
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

    .btn-sm i {
        font-size: 18px;
    }
/* ORDER DETAIL PRODUCT */

.product-table {
    border-collapse: separate;
    border-spacing: 0 12px;
}


    .product-table thead th {
        background: #1f2937;
        color: white;
        padding: 15px;
    }

    .product-table tbody tr {
        background: white;
        box-shadow: 0 5px 15px rgba(0,0,0,.08);
    }

    .product-table tbody td {
        padding: 15px;
    }
.product-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .product-info h6 {
        margin: 0;
        font-weight: 700;
    }

.product-img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #ddd;
}
.qty-box {
    background: #e0f2fe;
    color: #0369a1;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 600;
}
.money {
    color: #dc2626;
    font-weight: 700;
    font-size: 17px;
}
/*Search product admin*/
.product-search {
    display: flex;
}
    .product-search input {
        width: 280px;
        height: 42px;
        border: 1px solid #dbeafe;
        border-radius: 20px 0 0 20px;
        padding-left: 18px;
        outline: none;
    }

    .product-search button {
        width: 45px;
        border: none;
        background: #1769aa;
        color: white;
        border-radius: 0 20px 20px 0;
    }

        .product-search button:hover {
            background: #0f3c68;
        }
/* ================================
   DONUT CHART
================================ */

.donut-holder {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 15px auto;
    flex-shrink: 0;
}

    .donut-holder canvas {
        display: block !important;
        width: 220px !important;
        height: 220px !important;
    }